body {
	font-family: 'Barlow Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis', sans-serif;
}

nav {
	width: 100%;
	padding-left: 6%;
	padding-right: 6%;
	font-size: 1.75em;
	background-color: white !important;
/*	background-image: url("../images/banner.png");
*/}

.section-header {
	background-image: url("../images/header_back.png");
	padding-right: 10%;
	padding-left: 10%;
}


.content-container {
	padding-right: 11%;
	padding-left: 11%;
}

#intro-image {
	width: 100%;
}

.col-md-12 {
	padding: 0;
}

#nav-logo{
	max-height: 100px;
	width: auto;
}

.about-sub {
	padding-left: 11%;
	padding-right: 11%;
}

.testimonials {
	margin-top: 8px;
	font-style: italic;
}

.row {
	padding-bottom: 18px;
}

#main>.row {
	padding-bottom: 0;
}